.btn-primary:hover {
  background-color: #003006;
  border-color: #0062cc;
}
#nav-c{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.home{
  display: flex;
  justify-content: center;
  width: 8rem;
  margin-left: 5rem;
}